@font-face {
  font-family: 'Bellina';
  src: url('./fonts/Bellina-Regular.woff') format('woff'),
    url('./fonts/Bellina-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  /* overflow: hidden; */
}

/* nav {
  background-color: transparent;
  box-shadow: 0px 0px 67px -28px white;
  backdrop-filter: blur(5px);
} */
.planet-names {
  font-family: 'Bellina';
  font-size: 100px;
  font-weight: 200;
  color: rgba(255, 255, 255);
}
